.title {
    padding: 30px 0px;
}
.main-container {    
    
}
.main-navigation {    
    background-color: rgb(59, 59, 59);
    justify-content: center;
    display: flex;
    align-content: center;  
}
.main-navigation__container {
    
    max-width: 1067px;
    display: flex;
    flex: 1 1 auto;     
    align-content: center;    
    justify-content: space-between;  
}
.main-navigation__button-item {       
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(184, 245, 133);
    font-family: sans-serif;
    background-color: rgb(54, 54, 54);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.main-navigation__button-item_selected {
    box-shadow: inset 0 0 0 3px rgb(68, 68, 68);
    transition: all 0.3s ease 0s;
}
.main-navigation__button-item:hover {
    background-color: rgb(184, 245, 133);
    color: rgb(59, 59, 59);
}
.tasks {
    padding: 15px;    
}
.tasks__wrapper {
    padding: 60px 0px; 
    display: flex;
    flex-direction: column;
    align-content: center;   
}    
.create-task-block {
    margin: 0 auto;
    padding: 30px 0px; 
    display: flex;
    align-content: center;        
}
.create-task-block__input {
    padding: 10px;
    background: rgb(68, 68, 68);    
    color: rgba(183, 245, 133, 0.534);    
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.create-task-block__button {
    font-size: 16px;    
}
.task-item {
    display: flex;
    flex: 1 1 auto;
    align-self: start;
    align-items: center;
}
.task-item__main-container {
    margin: 0 auto;
    display: flex;    
    padding: 15px 0px;
    
}
.checkbox-form {
    display: inline-block;
}
.default-text-input {

}
.default-button {

}
.tasks-list {
    margin: 0 auto;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;    
    
}
